<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Evidence\Module6 XML ADO.NET CristalReport\Project\Project ADO.Net\BankManagementSolution\BankManagement\BankingManamentDB.mdf;Integrated Security=True"/>
  </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>